*
**::before,
**::after {
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: rgb(4, 4, 41);
    color: hsl(228, 84%, 12%);
}
a {
    text-decoration: none;
    color: white;
}
 
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

img {
    border-radius: 0.3rem;
    max-width: 290px;
}
img:hover {
    cursor: pointer;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.6);
    transition: 0.4s;
    border-radius: 0.8rem;
    background-color: hsl(216, 50%, 16%);
    max-width: 330px;
    z-index: 1020;

}


.container {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    color: gray;
    line-break: auto;
}

.container img{
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.6);
    
}
.container img:hover{
    background-color: #00FFF8;
    color-interpolation-filters: auto;
}
.container h3 a:hover {
    color: #00FFF8;
}


.info{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.info a:hover {
    color: #00FFF8;
}

.maker {
    display: inline;
    padding-inline-end: 10px;
    margin-bottom: 10px;
}
.maker img {
    float: left;
    border-radius: 50%;
    width: 50px;
}
.maker a:hover {
    color: #00FFF8;
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(227, 28%, 10%); 
}